{% extends "layout2.html" %}

{% block title %}
    About
{% endblock %}

{% block content %}
    <div class="jumbotron jumbotron-fluid mb-5">
        <div class="container">
            <h1 class="about-h1 pb-5">ABOUT EL-WASFA</h1>
            <p class="lead pr-5 pl-5">Tired of looking all over the internet for amazing recipes? Well, lucky for you in El-Wasfa you'll find what you're looking for,
                planning to start a diet and looking for healthy but also delicious and tasty recipes? we got you!</p>
            <p class="lead pr-5 pl-5">craving cookies? in here you will find the best cookies recipes on the internet,
                written by people who have tried it and would love to share them with the world</p>
            <p class="lead pr-5 pl-5">Having a party and want to surprise your guests? Your're in right place! </p>
        </div>
    </div>
    <div class="container-fluid">
        <div class="container">
            <h1 class="about-h1">WHO I AM</h1>
            <p class="lead p-5">Hey, I'm Omar, I'm an Egyptian aspiring Computer Engineering student and this is my final project for CS50x, Hello World!</p>
        </div>
    </div>
{% endblock content %}






